<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="UP_GMEntities" connectionString="metadata=res://*/bd.csdl|res://*/bd.ssdl|res://*/bd.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=bd-kip.fa.ru;initial catalog=UP_GM;persist security info=True;user id=sa;password=1qaz!QAZ;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>